
@media screen {
  .button1 {  
    padding: 20px 50px;
    transition-duration: 0.4s;
    border-radius: 4px;
    margin-left: 25vw;
    text-align: center;
    background-color: white;  
    border: 2px solid black;
    font-size: 17px;  
  } 
h1 {
    font-style: normal;
    font-family: sans-serif;
    font-weight: 100;
}
.topmid {
    margin-top: 75px;
    height: 120%;
    font-size: 250%;
    margin-left: 41.5vw;
}
.cont{
    text-align: center;  
    border: 1px solid black;  
    width: 200px;  
    height: 100px;  
    padding-top: 100px;  
}
 
.button1:hover {
    background-color: black;
    color: white;
  }
header{
    text-align: center;
}
.div1 {
    width: 20vw;
    height: 540px;
    padding: 0px;
    border: 2px solid black;
    margin-left: -10px; 
    margin-top: 10px;
    float: left;
  }
.div3 {
    width: 50vw;
    height: 449px;
    padding: 0px;
    margin-left: 5vw;
    margin-top: 5vh;
    float: left;
  }
.div2 {
    float: right;
    width: 20vw;
    height: 540px;
    border: 2px solid black;
    margin-right: -10px; 
    margin-top: -60px;
    overflow: hidden;
  }
input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 4px;
  }
}